.Title {

  display:flex;
  align-items: center;
  /* background-color: white; */
  justify-content: center;

}

.ninja {
  color: black;
  font-size: 4rem;
}

.eye {
  color: white;
  font-size: 4rem;
}

.ninjapic {
  width: 5rem;
  height: 5rem;
}