.Vis1Section {
    background-color: var(--color-lr);
    padding: 30px;
}

.Titles {
    display: flex;
    justify-content: space-between;
}

.VisName {
    color: white;
}

.WarehouseZones {
    display: flex;
    justify-content: center;
}

.PlaceChart {
    background-color: white;
}

/* below is for second section */

.AISection {
    background-color: var(--color-lr);
    padding: 30px;
}
